// @charset "UTF-8";

.obi {
  margin-top: 60px;
  background-image: url("../img/backimage.png"); /*効かない*/
  width: 100%;
  height: 80px;

  h3 {

    padding: 20px 100px;
    font-weight: normal;
    font-size: 32px;
  }
}

/*-------------------------------
スリック
-------------------------------*/

.team-slick {
  height: 400px;
  background-color: #f0f8fb;
  img {
    padding: 5px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

/*---------------------------------------------------
main
---------------------------------------------------*/

/*----------------------
絞り込みスライド
----------------------*/

.choose-team {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f8fb;
  margin: 0 auto;
  padding-inline: 50px;

  li {
    list-style: none;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: rgb(232, 72, 23);
  }
}

/*---------------------------
メインリスト
-------------------------*/

#Team-list {
  margin-block: 100px;
}

.todofukenbetsu {
  margin-block: 50px;

  h3 {
    padding-block: 10px;
  }

  .next-link {
    text-align: right;
    a {
      color: black;
    }
  }
}

.tp-team {
  display: flex;
  text-align: center;
  // border: 1px solid;

  li {
    margin: 5px;
    list-style: none;
    padding: 5px 10px;
    width: 33.3%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  /*---------------------------
  見出し
  ---------------------------*/

  .obi {
    h3 {
      font-size: 24px;
      padding: 20px 10px;
    }
  }

  /*---------------------------
絞り込み
-------------------------*/
  .choose-team {
    li {
      padding: 10px 20px;
    }
  }
  /*---------------------------
メインリスト
-------------------------*/
  .tp-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      width: 100%;
    }

    li:last-child {
      display: none;
    }
  }
}
