@charset "UTF-8";
@use "_matsuri.scss";
@use "_team.scss";
@use "_toiawase.scss";
/* @use "page/_matsuri.scss"; FILEにはいってるとき*/

// html {
//   font-size: 62.5%;
// }
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  // font-family: "RocknRoll One", sans-serif;
  // font-weight: 400;
  // font-style: normal;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

/*------------------------------------
Header
------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 50;
  background-color: white;
  // display: flex;
  // align-items: center;
}

.header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.headleft {
  a {
    text-decoration: none;
    color: black;
  }

  img {
    display: block;
    width: 150px;
  }
}

.headright {
  .nav {
    display: flex;

    li {
      list-style: none;
      padding: 0 10px;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

/*ハンバーガーメニュー*/
.toggle_btn {
  // border: 1px solid;
  display: none;
}
/*------------------------------------------
main
------------------------------------------*/

#mainvisual {
  // border: 3px solid blue;
  margin-top: 60px;
  width: 100%;
  height: 300vh;
  position: relative;
}

.mainvisual-textbox {
  /*cssで半円を作ったもの*/
  margin-inline: auto;
  /*横幅が飛び出ないように訂正したもの*/
  max-width: 1200px;
  width: 80vw;
  border-top-left-radius: calc(80vw / 2);
  border-top-right-radius: calc(80vw / 2);

  /*横幅とびでちゃう*/
  // width: 1200px; /* 直径の長さ */
  // height: 600px; /* 円の半径 */
  // border-top-left-radius: 600px; /* 半径の長さ */
  // border-top-right-radius: 600px; /* 半径の長さ */
  background: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;

  /*最初につくっていたもの*/
  // background-color: #ffffff;
  // width: 60%;
  // height: 30%;
  // text-align: center;
  // align-items: center;
  // position: absolute;
  // left: 50%;
  // bottom: 0;
  // transform: translateX(-50%);
  // border-top-left-radius: 300%;
  // border-top-right-radius: 300%;
  // padding-top: 300px;

  .mainvisual-text {
    margin: 100px auto;
  }

  p {
    letter-spacing: 0.5px;
    margin-block: 2px;
  }

  .h2main {
    margin-block: 40px 80px;
    font-weight: normal;
    font-size: 32px;
  }

  .h2sub {
    margin-block: 80px;
    font-size: 32px;
    font-weight: normal;
  }
}

.fade {
  li {
    // border: 1px solid red;
    height: 300vh;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    animation: fade 15s infinite;

    img {
      // height: 300vh;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

#mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}

#mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}

#mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*---------------------
section-aboutteam
---------------------*/
#abou-team {
  margin-block: 50px;
  // text-align: center;
}

.team {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  gap: 24px;

  .t-text {
    width: 80%;
    // /* flex: 1; */
    // width: calc(100% - 300px - 24px);

    /* width: 60%; */
    // padding-top: 150pxを使用せず、align-items: flex-end;で下の位置で揃える
    /*  padding-top: 150px; */
    // align-items: center;
    // border: 1px solid blue;
  }

  .t-text {
    width: calc(100% - 300px - 24px);
    // width: 60%;
    // padding-top: 150px;
    // align-items: center;
    // border: 1px solid blue;

    p {
      margin-top: 8px;
    }
  }

  .t-img {
    // width: 40%;
    // border: 1px solid blue;
    width: 300px;
    height: 300px;
    // border: 1px solid green;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

/*----------------------------------------------
fes-slick
----------------------------------------------*/
.fes-list {
  max-width: 100%;
  height: 100%;
  // border: 1px solid red;
  background-image: url(../img/backimage.png);

  li {
    // border: 1px solid red;
    padding: 10px 5px;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    // padding: 10px 5px;
  }
}

.team:first-child {
  margin-bottom: 24px;
}

.team:last-child {
  margin-top: 24px;
}

/*------------------------------------------
Choose
------------------------------------------*/
#choose {
  position: relative;
  height: 800px;
  overflow: hidden;
}

.c-tex {
  display: flex;
}

.tex1 {
  display: block;
  width: 900px;
  height: 900px;
  color: black;
  background-color: rgba(104, 10, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -300px;
  left: -30px;
  // transform: translate(0);
  // z-index: -20;
}

.tex-intext1 {
  margin: 360px auto;

  h3 {
    margin-block: 40px 80px;
    font-weight: normal;
    font-size: 32px;
  }

  p {
    letter-spacing: 0.5px;
    margin-block: 2px;
  }

  a {
    color: black;
    text-shadow: 1px 2px rgb(114, 114, 114);
  }

  a:hover {
    color: rgb(244, 244, 244);
  }
}

.tex2 {
  display: block;
  width: 900px;
  height: 900px;
  color: black;
  background-color: rgba(249, 9, 9, 0.8);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: -300px;
  right: -30px;
  // z-index: -10;
}

.tex-intext2 {
  margin: 250px auto;

  h3 {
    margin-block: 40px 80px;
    font-weight: normal;
    font-size: 32px;
  }

  p {
    letter-spacing: 0.5px;
    margin-block: 2px;
  }

  a {
    color: black;
    text-shadow: 1px 2px rgb(114, 114, 114);
  }

  a:hover {
    color: rgb(255, 255, 255);
  }
}

/*==================================
fotter
=================================*/

footer {
  background-image: url("../img/backimage.png");
  max-width: 100%;
  height: 300px;
  text-align: center;
  padding: 50px;
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    padding-inline: 10px;
  }

  .iconsize {
    font-size: 80px;
    color: rgb(248, 248, 248);
  }
}

.footer-nav {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;

  li {
    padding: 20px 5px;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.inquiry {
  padding-inline: 20px;
  a {
    color: black;
    text-decoration: none;
  }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
iphone&ipad用
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 900px) {
  /*----------------ハンバーガー----------------*/

  .headright {
    display: none;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 20;
    // left: -300px;
    // opacity: -10;
  }

  .open .headright {
    z-index: 200;
    display: block;
    background-image: url(../img/backimage.png);
    // background-color: rgba(6, 172, 255, 0);
    // background-blend-mode: lighten;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    position: fixed;
    cursor: pointer;

    .nav {
      display: block;
      text-align: center;
      margin-block: 20px;
      font-size: 20px;
      transition: 2s;

      li {
        padding-block: 8px;
      }
    }
  }

  .toggle_btn {
    // display: flex;
    display: block;
    position: fixed;
    top: 5px;
    right: 20px;
    width: 50px; /*正方形作る(親)*/
    height: 50px;
    z-index: 150;
    cursor: pointer;
  }

  .toggle_btn span {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    // width: 50px; 親で設定してるのでいらない
    height: 2px;
    background-color: rgb(13, 13, 13);
  }

  .toggle_btn span:nth-child(1) {
    top: 33%;
  }

  .toggle_btn span:nth-child(2) {
    top: 50%;
  }

  .toggle_btn span:nth-child(3) {
    top: 70%;
  }

  .open .toggle_btn span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s;
  }

  .open .toggle_btn span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  /*----------------mainvisual----------------*/
  #mainvisual {
    max-width: 100%;
    height: 150vh;
  }

  .mainvisual-textbox {
    // -----画面幅に沿って変わるようになってるので表記いらない-----//
    // max-width: 600px; /* 直径の長さ */
    // max-height: 300px; /* 円の半径 */
    // border-top-left-radius: 300px; /* 半径の長さ */
    // border-top-right-radius: 300px; /* 半径の長さ */

    .mainvisual-text {
      margin: 50px 40px;
    }

    p {
      letter-spacing: 0px;
      margin-block: 0px;
    }

    .h2main {
      margin-block: 5px;
      font-weight: normal;
      font-size: 20px;
    }

    .h2sub {
      margin-block: 5px;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .fade {
    li {
      height: 150vh;
      max-width: 100%;

      img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  /*----------------section-aboutteam----------------*/

  .team {
    display: block;
    align-items: flex-end;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    gap: 0px;

    .t-text {
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }

    .t-img {
      width: 100%;
      height: 300px;
      margin-top: 20px;

      img {
        max-width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }

  .team:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .team:last-child {
    display: flex;
    flex-direction: column-reverse;
  }

  /*----------------choose----------------*/
  #choose {
    height: 700px;
  }
  .c-tex {
    display: flex;
  }

  .tex1 {
    width: 500px;
    height: 500px;
    top: -30px;
    left: -20px;
  }

  .tex-intext1 {
    margin: 100px auto;

    h3 {
      margin-block: 30px;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      margin-inline: 60px;
    }
  }

  .tex2 {
    width: 500px;
    height: 500px;
    bottom: -30px;
    right: -20px;
  }

  .tex-intext2 {
    margin: 80px auto;

    h3 {
      margin-block: 30px;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      margin-inline: 60px;
    }
  }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
iphone用
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (max-width: 400px) {
  /*----------------choose----------------*/

  .tex1 {
    display: block;
    width: 400px;
    height: 400px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: -30px;
  }

  .tex-intext1 {
    margin: 50px auto;

    h3 {
      margin-block: 30px 20px;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      letter-spacing: 0.5px;
      margin-block: 2px;
      padding-inline: 20px;
    }
  }

  .tex2 {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -30px;
    right: -20px;
  }

  .tex-intext2 {
    margin: 50px auto;

    h3 {
      margin-block: 30px 20px;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      letter-spacing: 0.5px;
      margin-block: 2px;
      padding-inline: 20px;
    }
  }
}
